# Written by Ansible. The Infisical machine identity deploy.sh logs in with.
INFISICAL_CLIENT_ID={{ infisical_client_id }}
INFISICAL_CLIENT_SECRET={{ infisical_client_secret }}
INFISICAL_PROJECT_ID={{ infisical_project_id }}
INFISICAL_ENV={{ infisical_env }}
